$primary-color: #004d4d;
$secondary-color: #34070b46;
$hover-color: rgba(225, 190, 231, 0.5);
$header-color: #fff9c4;
$highlight-color: #bbe1fa;
$grid-color: #ffced1;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.25rem;

  .header {
    display: flex;
    align-items: center;
    background-color: $header-color;
    padding: 0.325rem;
    gap: 0.625rem;

    .header-icon {
      flex-shrink: 0;
      width: 2.8rem;
      height: 2.8rem;
    }

    .header-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      color: $primary-color;
      font-size: 1.5em;
    }

    .subtitle {
      color: $secondary-color;
      font-size: 1em;
    }
  }

  .task {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25.75rem;
    background-color: $highlight-color;
    padding: 0.625rem;
  }

  .task_state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25.75rem;
    background-color: $grid-color;
    color: $primary-color;
    gap: 1rem;

    .result-section {
      display: flex;
      justify-content: center;
    }

    .done {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }
  }
}
